In [25]:
import pandas as pd

abyss_scale = 2
world_scale = 1
df = pd.read_csv('Strength.csv')
df.replace(['S+','S','S-','A+','A','A-','B+','B','B-','C+','C'],[10,9,8,7,6,5,4,3,2,1,0],inplace = True)
df['Score'] = df['Abyss'] * abyss_scale + df['World'] * world_scale
df.head(10)

        Name  Abyss  World  Score
0      Thoma      3      3      9
1    Yoimiya      9      9     27
2     Yanfei      7      7     21
3     Hu Tao     10      7     27
4    Bennett     10      8     28
5     Xinyan      3      3      9
6       Klee      7      7     21
7  Xiangling     10      7     27
8      Diluc      7      8     22
9      Amber      0      3      3

In [26]:
synthesize_scale = 1
absolute_scale = 1
df = pd.read_csv('WStrength.csv')
df.replace(['S+','S','S-','A+','A','A-','B+','B','B-','C+','C'],[10,9,8,7,6,5,4,3,2,1,0],inplace = True)
df['Score'] = df['Synthesize'] * synthesize_scale + df['Absolute'] * absolute_scale
df.head(10)

                     Name  Synthesize  Absolute  Score
0     Haran Geppaku Futsu           8         9     17
1   Mistsplitter Reforged          10        10     20
2           Freedom-Sworn           9         9     18
3  Primordial Jade Cutter          10         9     19
4           Summit Shaper           8         9     17
5          Aquila Favonia           8         8     16
6           Skyward Blade           7         7     14
7         The Alley Flash           6         7     13
8               The?Flute           3         3      6
9             Lion's Roar           6         7     13